@import "tailwindcss" prefix(tw);
@source "../views";

@import "../template/css/core.css";
@import "../template/css/animsition.min.css";
@import "../template/css/elements.css";

@theme {
    --font-display: "HK Grotesk"; 
}

.titanThumbContainer > li{
    height: 100px;
    overflow: hidden;
}

.titanThumbContainer > li > img{

}